p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 200;
}

label {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 200;
	display: block;
	margin-bottom: 0.25rem;
	margin-top: 1rem;
}

textarea {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: 200;
	display: block;	
}

.claim {
	border-top: 1px solid $blanco;
	padding: 2px;
	margin: 1.5rem auto;
	width: 135px;

}

