.btn-dark{
	background-color: $marron;
	color: $blanco;
	position: relative;
	top: 6rem;
	height: 40px;
	width: 137px;
	margin: 2rem auto;
}

.btn-light{
	background-color: $blanco;
	color: $marron;
	width: 134px;
	margin: 2rem 0;
}

.btn-dark, .btn-light {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 2px;
	border: none;
	display: block;
}

.btn-line-dark {
	border: 1px solid $blanco;
}

.btn-line-light {
	border: 1px solid $marron;
}

.btn-line-dark, .btn-line-light{
	padding: 7px 4px;
}

.btn-dark:hover{
	background-color: $marron-hover;
}

.btn-light:hover{
	background-color: $rosa-palo;
}

.btn-line-dark:hover {
	border: 1px solid $rosa-palo;
}

.btn-line-light:hover {
	border: 1px solid $marron-hover;
}
