.logo {
	width: 171px;
	height: auto;
	margin-top: 80px;
	margin-bottom: 100px;

	@media (min-width: $tablet-width) {
		width: 257px;
		margin-top: 200px;
	}
}

.cristina {
	background-image: url(../img/crboca.jpg);
	width: 100%;
	height: 17rem;
	padding: 0;
	margin: 2rem auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	max-width: 256px; 
	
	@media (min-width: $tablet-width) {
		max-width: 50%;
		margin-top: 8rem;
		float: left;
		height: 30rem;
	}
}

.div-thumbs {
	width: 100%;
	min-height: 9.5rem;
	margin: 1rem auto;
	padding: 0;

	@media (min-width: $tablet-width) {
		max-width: 48%;
		float: left;
		margin: 2rem auto;
	}
}

.thumb1, .thumb2, .thumb3, .thumb4 {
	background-size: 110%;
	background-position: top;
	background-repeat: no-repeat;
}

.thumb1 {
	background-image: url(../img/thumb-snoz.png);
}

.thumb2 {
	background-image: url(../img/thumb-antonym.png);
	
	@media (min-width: $tablet-width) {
		max-width: 45%;
		float: right;
	}
}

.thumb3 {
	background-image: url(../img/thumb-leopard.png);

	@media (min-width: $tablet-width) {
		margin: 0 auto 2rem;
	}
}

.thumb4 {
	background-image: url(../img/thumb-faded.png);
	
	@media (min-width: $tablet-width) {
		margin: 0 auto 2rem;
		max-width: 45%;
		float: right;
	}
}

.inner {
	overflow: hidden;
	display: none;
	margin-top: 7rem;
}




