#menu-container {
	background-color: rgba(57, 54, 53, 0.8);
	width: 40%;
	height: 580px;
	position: absolute;
	top: 0;
	right: 0;
}

li{
	list-style: none;
}

ul{
	padding: 0;
}

#mobile-close {
  z-index: 3;
  cursor: pointer;
}
#mobile-button {
  cursor: pointer;
}