.home{
	color: $blanco;
}

.about{
	background-color: $marron;
	color: $blanco;
}

.work{
	background-color: $rosa-palo;
	color: $marron;	
}

.contact{
	background-color: $beige;
	color: $blanco;	
}

.footer{
	background-color: $marron;
}