.home {
	background: url(../img/img-home.jpg);
	height: 36rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	color: $blanco;
	text-align: center;


@media (min-width: $tablet-width) {
	height: 65rem;
	}

}

.about{
	background-color: $marron;
	color: $blanco;
	padding: 2rem 0;
}

.content-about {
@media (min-width: $tablet-width) {
	float: left;
	width: 50%;
	
	}

}

.work{
	background-color: $rosa-palo;
	color: $marron;	
	padding: 2rem 0;
}

.contact{
	background-color: $beige;
	color: $blanco;	
	padding: 2rem 0;
}

.inner-line-light, .inner-line-dark{
	width: 80%;
	margin: auto;
	padding: 0 1rem;
	max-width: 950px;

	@media (min-width: $tablet-width) {
	padding: 0 2rem;
	}
  
}

.inner-line-light{
	border: 1px solid $blanco;
}

.inner-line-dark{
	border: 1px solid $marron;
}

.project-info{
	background-color: $rosa-palido;
	margin-top: -1rem;
	padding: 2rem 1rem 1.5rem;
}

.script {
	display:none;
	font-family: sans-serif;
	height: auto;
	width: auto;
}




.work-text{
max-width: 443px;
}

.about-text{
	@media (min-width: $tablet-width) {
	padding-right: 2rem;
	}

}

