.home {
	background: url(../img/img-home.jpg);
	height: 580px;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: right;
	color: $blanco;
	text-align: center;
}

.about{
	background-color: $marron;
	color: $blanco;
	padding: 1rem 0;
}

.work{
	background-color: $rosa-palo;
	color: $marron;	
	padding: 1rem 0;
}

.contact{
	background-color: $beige;
	color: $blanco;	
	padding: 1rem 0;
}

.inner-line-light, .inner-line-dark{
	width: 80%;
	margin: auto;
	padding: 0 1rem;
	max-width: 950px;
}

.inner-line-light{
	border: 1px solid $blanco;
}

.inner-line-dark{
	border: 1px solid $marron;
}

.project-info{
	background-color: $rosa-palido;
	margin-top: -1rem;
	padding: 1rem;
}